@import "settings";
@import "foundation";
@import "../fonts/foundation-icons/foundation-icons.css";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

@import "icon/*.png";
@include all-icon-sprites;

@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800,600);
@import url(http://fonts.googleapis.com/css?family=Parisienne);
@import url(http://fonts.googleapis.com/css?family=Hanalei+Fill);

@mixin clip-path($data) {
  -webkit-clip-path: $data;
  -moz-clip-path: $data;
  -moz-webkit-clip-path: $data;
  -ms-clip-path: $data;
  clip-path: $data;
}
@mixin keyframes ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}
@mixin animation ($data) {
    -webkit-animation: $data; /* Safari 4+ */
    -moz-animation: $data; /* Fx 5+ */
    -o-animation: $data; /* Opera 12+ */
    animation: $data; /* IE 10+ */
}
@include keyframes(brainAnimation) {
    0% { margin-bottom:0;}
    33% { margin-bottom:3px;}
    50% { margin-bottom:1px; }
    100% { margin-bottom:5px; }
}

//Basics
header{
	background: transparent url(../img/header/bg_header.jpg) no-repeat center center fixed;
	background-size: cover;
	@media #{$small-only} {
		background-size: auto 100%;
	}
	padding:150px 20px;
	overflow: hidden;
	
	div.row{
		position: relative;
		.slogan{
			
			position: absolute;
			width: 100%;
			@media #{$small-up} {
				top: 30px;
				h2{
					margin-top: 80px;
				}
				img{
					width:70px;
					//@include animation(brainAnimation .3s linear backwards infinite);
				}
			}
			@media #{$medium-up} {
				top: 80px;
				h2{
					margin-top: 200px;
				}
				img{
					width:100px;
					//@include animation(brainAnimation .3s linear backwards infinite);
				}
			}
			@media #{$large-up} {
				top: 150px;
				h2{
					margin-top: 350px;
				}
				img{
					width: auto;
					//@include animation(brainAnimation .3s linear backwards infinite);
				}
			}
			@media #{$xlarge-up} {
				top: 150px;
				h2{
					margin-top: 400px;
				}
				img{
					width: auto;
					//@include animation(brainAnimation .3s linear backwards infinite);
				}
			}

		}
	}

}
#container section:not(.top-bar-section){
	padding:50px 20px;
	@media #{$medium-up} {
		padding:100px 20px 200px 20px;
	}
}
[data-magellan-expedition] {
  padding: 0;
}
#navbar{
	z-index: 998;
}
//dynamic icons
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 36px;
	height: 36px;
	*margin-right: .3em; /* ie7-restore-right-whitespace */
	vertical-align: text-top;
	background-repeat: no-repeat;
}
// Typographic
h1{font-weight:bold;font-weight:900;}
h2{
	font-weight:800;
	text-transform: uppercase;
	text-align: center;
	color: white;
	line-height: 1.2;
	span{
		font-weight:600;
		display: block;
		font-size:.6em;
		text-transform: lowercase;
	}
	
}
p{line-height: 1;}
.centered-text{text-align: center;}
.orbit-list li img{width: 100%;}
img.rounded{ @include border-radius(100%, 100%); }

.list-thumbs ul li{
	
	@media #{$small-only} {
		margin: .5em auto;
		display: block;
		float: none;
		width: 70%;
		text-align: center;
	}
	@media #{$medium-up} {
		float: right;
		margin: .5em .1em;
	}
	
	img{width: 80%;}
}
//Specific sections
header .row .columns{
	ul{
		width: 400px;
		list-style: none;
		li{
			float: left;

			margin: -50px;
			position:relative;
			min-width: 200px;
			min-height:200px;
			
			img{
				position: absolute;
				clip-path: url("#clipPolygon");
				@include clip-path(polygon( 0 50%,50% 0, 100% 50%, 50% 100%, 0 50% ));

				width:190px;
				
				@include transition(all 1s);
			}
			&:nth-child(2) img{left:5px;top:-1000px;}
			&:nth-child(3) img{left:1000px;top:5px;}
			&:nth-child(4) img{left:1000px;top:1000px;}
			&:nth-child(5) img{left:-4000px;top:5px;}
			&:nth-child(6) img{left:5px;top:4000px;}
			&:nth-child(7) img{left:2000px;top:2000px;}
			&.base img{
				position: static;
				width: 400px;
				height:400px;
			}
			
		}

	}
	h2{
		background: transparent url(../img/brain.png) no-repeat top center;
		padding-top: 150px;
	}
	
	
}
header.animate .row .columns{
	ul{
		li{
			&:nth-child(2) img{left:5px;top:5px;}
			&:nth-child(3) img{left:100px;top:5px;}
			&:nth-child(4) img{left:5px;top:5px;}
			&:nth-child(5) img{left:5px;top:5px;}
			&:nth-child(6) img{left:5px;top:100px;}
			&:nth-child(7) img{left:5px;top:5px;}
		}
	}
}
header.hover .row .columns{
	ul{
		li{
			img{@include transition(all .1s);}
			&:nth-child(2) img{top:-50px;}
			&:nth-child(3) img{left:180px;}
			&:nth-child(4) img{left:80px;top:40px;}
			&:nth-child(5) img{left:-50px;top:50px;}
			&:nth-child(6) img{left:5px;top:200px;}
			&:nth-child(7) img{left:40px;top:80px;}
		}
	}
}
@media #{$medium-up} {
	header .social{
		position: absolute;
		top: 1em;
		right: 1em;
	}
}
section.title{
	position: relative;
	overflow: hidden;
	padding-bottom: 600px !important;
	//background: transparent !important;
	background: transparent url(../img/triangle.png) no-repeat bottom center fixed;
	background-size: auto 100%;
	/*&:before{
		content: "";
		position: fixed;
		bottom:0;
		left:50%;
		margin-left: -900px;
		border-top: 1800px solid white;
		border-left: 1800px solid transparent;
		border-right: 1800px solid transparent;
		height: 0;
		width: 0;
		z-index:-1;

	}*/
	a{margin-top: 1em;font-weight: 600 !important;}
}
section.web{
	position: relative;
	//background: #ffa502;
	background: white url(../img/triangle_orange.png) no-repeat top center absolute;
	background-size: auto 100%;
	@media #{$small-up} {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	@media #{$large-up} {
		padding:150px 20px 0 20px !important;
	}
	.mac-book{

		@media #{$large-up} {
			max-width: 50%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	h2{
		padding-top: 30px;
		width: 100%;
		background: transparent url(../img/ornement.png) no-repeat bottom center;
		padding-bottom: 20px;
	}
	
}
section.projects{

	padding-left: 0 !important;
	padding-right: 0 !important;
	clear:both;
	//padding-bottom: 0 !important;
	padding-top: 1em !important;
	background: #f3f3f3;
	h2{
		color: #444;
	}
	@media #{$large-up} {
		.orbit-bullets-container{
			position: absolute;
			bottom:0;
			left: 0;
			width: 100%;
			z-index:996;
		}
	}
	.orbit-list{
		@media #{$small-up} {
		}
		@media #{$medium-up} {
		}
		@media #{$large-up} {
		}
		@media #{$xlarge-up} {
		}
		
		position: relative;
		color: white;
		
		.description{
			@media #{$small-only} {
				color:#444;
			}
			@media #{$medium-only} {
				color:#444;
			}
			@media #{$large-up} {
				position: absolute;
				bottom: 0;
				top:auto;
			}
			padding: 2% 10%;
			p{font-size: 70%;}
			h3{
				font-size: 90%;
				color: white;
				text-transform: uppercase;
				font-weight: 800;
				@media #{$small-up} {
					color:#444;
				}
				@media #{$large-up} {
					color:white;
				}
			}
			.button{ background: #444; float: right;}
		}
		.stats{
			position: absolute;
			top: 0;
			padding: 2% 10%;
			i{
				font-style: normal;
				font-size: 2.5em;
				font-weight: 800;
				text-align: center;
				line-height: 1em;
				float: left;
				margin: 0 1em;
			}
			i:before{display: block;text-align: center;}
		}
	}
	.row:first-child{margin-bottom: 4em;}
	@media #{$large-up} {
		.row .columns{
			h2{position: relative;}
			h2:after{
				content: "";
				position: absolute;
				bottom:-78px;
				left:50%;
				margin-left: -40px;
				border-top: 80px solid #f3f3f3;
				border-left: 80px solid transparent;
				border-right: 80px solid transparent;
				height: 0;
				width: 0;
				z-index:997;

			}
			
		}
	}
	p{
		span.classic{
			font-family: 'Parisienne', cursive;
			font-size: 1.5em;
		}
		span.non-classic{
			font-family: 'Hanalei Fill', cursive;
			font-size: 1.2em;
		}
	}
}
section.video{
	background:#dc5341 url(../img/bg-video.png) no-repeat center center;
	background-size: cover;
	color: white;
	text-align: center;
	overflow: hidden;
	h2{
		background: transparent url(../img/perspective.png) no-repeat top center;
		padding-top: 200px;
		margin-bottom: 100px;
		font-weight: 900;
		@media #{$small-up} {
			font-size:rem-calc(40);
		}
		@media #{$medium-up} {
			font-size:rem-calc(50);
		}
		@media #{$large-up} {
			font-size:rem-calc(70);
		}
		@media #{$xlarge-up} {
			font-size:rem-calc(90);
		}
		line-height: .8;
		strong{
			font-weight: 900;
			font-size: 1.33em;
		}
	}
}
section.redaction{
	background:white;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	h2{
		background: transparent url(../img/write.png) no-repeat top center;
		padding-top: 150px;
		color: #444;
		span{font-family: "Times New Roman", Times, serif;}
	}
	div:nth-child(2){ clear: both;}
}
section.contact-equipe{
	background: #ffd902;
	h2{
		color: #444;
	}
	h3{margin-bottom: 0;font-size:rem-calc(16);}
	p{font-size:rem-calc(12);}
	ul{
		list-style: none;
		
	}
	.equipe{
		text-align: center;
		ul li{
			height:250px;
			text-align: center;
			margin-left:3% !important;
			margin-right: 3% !important;
			width:25%;
		}
	}
	.contact{

		ul li{
			font-size:rem-calc(12);
		}
		.button{
			
			font-size:rem-calc(8);
			background: #BBB;
		}
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
